@using Microsoft.AspNet.Identity;
@model Shop.Models.Invoice

@{
    ViewBag.Title = "InvoiceDetails";
}

<h2>Faktura zamówienia nr @Model.OrderID</h2>

<div>
    <h4>Dane</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeliveryData.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryData.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryData.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryData.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryData.FullAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryData.FullAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayName("Wystawiający")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Name) @Html.DisplayFor(model => model.Employee.Surname)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Details", "Orders", new { id = Model.OrderID })" class="btn btn-primary">Powrót</a>
</p>
