@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <div class="pull-right">
                    <a href="@Url.Action("Cart", "Product")"  class="clear-link">
                        <div class="full-length" style="text-align: center">
                            <span class="glyphicon glyphicon-white glyphicon-shopping-cart" aria-hidden="true"></span>
                        </div>
                        <div>

                            <span>Twój koszyk</span>
                        </div>
                    </a>
                </div>
            </li>
            <li>

                @Html.ActionLink("Twoje konto", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            @if (User.IsInRole("Admin"))
            {
                <li>
                @Html.ActionLink("Zarządzaj", "Index", "Admin")
                </li>

            }
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <div class="pull-right">
                <a href="@Url.Action("Login", "Account")" class="clear-link">
                    <div class="full-length" style="text-align: center">
                        <span class="glyphicon glyphicon-white glyphicon-shopping-cart" aria-hidden="true"></span>
                    </div>
                    <div>
                        <span>Twój koszyk</span>
                    </div>
                </a>
            </div>
        </li>
        <li>@Html.ActionLink("Rejestracja", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Logowanie", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
