@{
    ViewBag.Title = "Home Page";
}
@model Shop.Models.HomeViewModel

<div class="jumbotron jumbotron-transparent">
    @if (Model.News.Count == 0)
    {
        <div class="alert alert-danger" role="alert">Brak wiadomosci!</div>

    }
    else
    {
        <ul class="simple-list">
            @foreach (var item in Model.News)
                {
                <li>
                    <div class="row news-row">
                        <div class="col-sm-4">
                            @if (@item.ImgFilename != null)
                            {
                                <img src="@Url.Content(@item.ImgFilename)" class="img-responsive" alt="img">
                            }
                            else
                            {
                                <img src="http://placehold.it/1280X720" class="img-responsive">
                            }
                        </div>
                        <div class="col-sm-8">
                            <h3 class="title">@item.Title</h3>
                            <p>@item.Content</p>

                            <p class="text-muted">@item.CreationDate</p>

                        </div>
                    </div>
                    <hr />
                </li>
            }
        </ul>
    }


</div>