@model Shop.Models.Product

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-md-offset-1 col-md-8">
        <div class="thumbnail">
            <img class="img-responsive" src="http://placehold.it/800x300" alt="" width="100%">
            <div class="caption-full">
                <h5>
                    <i>
                        @if (Model.Category.BaseCategoryID != null)
                        {
                            @Model.Category.BaseCategory.Name <span>></span>
                        }
                        @Model.Category.Name
                    </i>
                </h5>
                <h4 class="pull-right">@Model.ActualPrice (@Model.PriceNetto) PLN</h4>
                <h4>
                    <a href="#">@Model.Manufacturer.Name @Model.Name</a>
                </h4>
                <p>@Model.Description</p>
            </div>
        </div>
    </div>
    <div class="col-md-2 sideMenu">
        <a href="#" class="btn btn-primary btn-long">
            Dodaj do koszyka
        </a>
        <a href="@Url.Action("")" class="btn btn-default btn-long">
            Powrót
        </a>
    </div>
</div>
