@model Shop.Models.Product

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-md-offset-1 col-md-8">
        <div class="thumbnail">
            <img class="img-responsive" src="http://placehold.it/800x300" alt="" width="100%">
            <div class="caption-full">
                <h5>
                    <i>
                        @if (Model.Category.BaseCategoryID != null)
                        {
                            @Model.Category.BaseCategory.Name <span>></span>
                        }
                        @Model.Category.Name
                    </i>
                </h5>
                <h4 class="pull-right">@Model.ActualPrice (@Model.PriceNetto) PLN</h4>
                <h4>
                    <a href="#">@Model.Manufacturer.Name @Model.Name</a>
                </h4>
                <p>@Model.Description</p>
            </div>
            <div class="row">
                @foreach (var item in Model.Images)
                {
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="@item.FileName" alt="...">
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-2 sideMenu">
        @if (Model.Copies.Count(cop => cop.WasSold == false) < 1)
        {
            <button class="btn btn-danger btn-long">Niedostępny</button>
        }
        else
        {
            if (Model.Copies.Count(cop => cop.WasSold == false) < 5)
            {
                <span class="label label-warning">UWAGA! Ostatnie sztuki!</span>
            }
            @Html.ActionLink("Dodaj do koszyka", "AddToCart", "Product", Model, new { @class = "btn btn-success btn-long" })
        }

        <a href="@Url.Action("")" class="btn btn-default btn-long">
            Powrót
        </a>
    </div>
</div>
